# Dependencias de Node (Frontend) - LO MÁS PESADO
node_modules/
dist/
dist-ssr/
*.local

# Dependencias de Python (Backend)
proyts/

# Variables de entorno (Seguridad - Contraseñas)
.env
.env.local

# Archivos de sistema y logs
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*